@model FYP.Models.Dashboard.Assignments
@{
    var folder = "Assignments/";
    string[] names = null;
    if(Model.File_Name !=null)
        names = Model.File_Name.Split(":");
}


<body style="" class="Detailevents-background">

</body>
@if (TempData["AssignmentUpdated"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Updated Successfully||</strong> Assignment was updated.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["FileIsRemoved"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>File Deleted Successfully ||</strong> A file was deleted.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["FileNotRemoved"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Sorry file cannot be deleted ||</strong> There was a problem.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="placeHoderHere"></div>

<div class="row">
    <label class="fw-bold fs-2 w-auto">
        Subject : @Html.DisplayFor(model => model.Subject)
    </label>
    <label class="fw-bold text-success fs-6">
        SubTitle : @Html.DisplayFor(model => model.SubTitle)
    </label>
</div>

<hr />

<div class="row">


    <div class="col-9 bg-black bg-opacity-50">
        <dl class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header">
                        <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Download File
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show bg-black bg-opacity-50 text-start" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                           
                            @if (Model.File_Name != null)
                            {

                                @foreach (var filename in names)
                                {
                                    if (filename != "")
                                    {
                                        <div>

                                            <a asp-action="DownloadFile" asp-controller="Dashboard" asp-route-filename="@filename" class="btn btn-outline-info m-1" title="download this file" download="@filename"> <img class="d-block icon2 mx-auto" src="~/Icons/download.svg" style="filter:invert(1);height:4rem;" /> Download</a>
                                            <a asp-action="DeleteAssignment" asp-controller="Dashboard" asp-route-id="@Model.id" asp-route-filename="@filename" class="btn btn-outline-danger">Delete</a>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <div class="my-auto position-relative text-center" style="top: 25%;">
                                    <label class="text-white fw-bold text-uppercase">No Assignment file Provided</label>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            @Html.DisplayNameFor(model => model.Description)
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse bg-black bg-opacity-50 text-start" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                </div>

            </div>
    </div>

    <div class="col-3 border-start">
        <div class="bg-body">
            <label asp-for="@Model.Submission_Date" class="text-muted fw-bold d-block"></label>
            @Html.DisplayFor(model => model.Submission_Date,new {@class="text-muted fw-bold"}) at
            @Html.DisplayFor(model => model.Time,new {@class="text-muted fw-bold"})
        </div>
        <hr />
        <div class="bg-body">
            <label asp-for="@Model.Uploaded_Time" class="text-muted fw-bold d-block"></label>
            @Html.DisplayFor(model => model.Uploaded_Time,new {@class="text-muted fw-bold"})
        </div>
        <hr />
        <div class="bg-body">
            <label asp-for="@Model.Uploaded_By" class="text-muted fw-bold d-block"></label>
            @Html.DisplayFor(model => model.Uploaded_By,new {@class="text-muted fw-bold"})
        </div>
        <hr />

    </div>
</div>

<div class="bg-dark bg-opacity-75 position-relative w-100" style="top:2rem;">
    <button class="card-link btn btn-outline-warning m-2" asp-route-id="@Model.id" type="button" data-toggle="ajax-modal" data-target="#_EditAssignment" data-url="@Url.Action($"EditAssignment/{@Model?.id}","Dashboard")">Edit</button>

    <a class="btn btn-outline-info m-2" asp-action="Assignments" asp-controller="Dashboard">All Assignmets</a>
</div>
