@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@model IEnumerable<FYP.Models.Dashboard.Links>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Links";
    var pagedList = (IPagedList)ViewBag.LinkList;
}
<body style="" class="links-background">

</body>

@if (TempData["linkadded"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index:1">
        <strong>Link created Successfully ||</strong> A new link has been added.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["linkdeleted"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index:1">
        <strong>Link deleted Successfully ||</strong> A link has been removed.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="row">
    <div class="col-8 bg-black bg-opacity-75 signin-pageContent p-4 rounded" style="height:85vh;">
        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Professor")))
        {
            <div class="text-center ">
                <a asp-action="AddLinks" asp-controller="Dashboard" class="btn btn-light col-3 mx-1">Add a new Link</a>
            </div>
            <hr />
        }
        <center>
            <h1 class="text-white bg-white bg-opacity-10 text-white rounded">Links List</h1>
        </center>
        <center>

            @Html.PagedListPager(pagedList,
            page => Url.Action("Links","Dashboard",
            new { page }),
            new PagedListRenderOptions()
            {
            DisplayItemSliceAndTotal = true,
            ItemSliceAndTotalPosition = ItemSliceAndTotalPosition.End,
            MaximumPageNumbersToDisplay=3
            })

        </center>
        @if (Model?.Any() == false)
        {
            <center><label class="text-white fw-bold text-uppercase"> No Links are available</label></center>
        }
        else
        {
            <div class="overflow-scroll p-3" style="height:54vh;">
                @foreach (var item in Model)
                {


                    <center>
                        <div class="row mb-2 w-100">
                            <div class="col-md-2 border p-2">
                                <a href="@item.links" target="_blank" class="btn btn-outline-info m-auto" title="@item.links"> <img class="d-block" src="~/Icons/links.svg" style="filter:invert(1);height:4rem;" /> Link</a>
                            </div>
                            <div class="border bg-black bg-opacity-50 text-white col-8 row m-0 flex-grow-1">

                                <div class="col-md-4 d-flex">
                                    <label asp-for="@item.Title" class="text-success fw-bold d-block mx-2 text-uppercase"></label> :
                                    @Html.DisplayFor(x=>@item.Title)
                                </div>

                                <div class="col-md-8 d-flex border-start">
                                    <label asp-for="@item.SubTitle" class="text-info fw-bold d-block mx-2 text-uppercase"></label> :
                                    @Html.DisplayFor(x=>@item.SubTitle)
                                </div>

                                <div class="w-100"></div>
                                <hr>
                                <div class="d-flex">
                                    <label asp-for="@item.Description" class="text-light fw-bold d-block text-uppercase"></label> :
                                    @Html.DisplayFor(x=>@item.Description)
                                </div>
                            </div>

                            <div class="col-lg-2 border m-0 row">
                                <div class="my-auto">

                                    <a href="#DeleteLink" data-bs-toggle="modal" data-bs-target="#_DeleteLink" class="btn btn-outline-danger m-1">Delete Link</a>

                                </div>
                            </div>
                        </div>
                    </center>
                    <form method="post" enctype="multipart/form-data" asp-action="DeleteLink" asp-controller="Dashboard" asp-route-id="@item.id">
                        <div class="" id="DeleteLink">

                            <!-- Modal -->
                            <div class="modal fade" id="_DeleteLink" tabindex="-1" aria-labelledby="_DeleteLink" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-white bg-black">
                                        <div class="modal-header text-center">
                                            <h1 class="modal-title fs-5 fw-bold text-uppercase" id="CreateEvent">Do you want to Delete This Link</h1>
                                            <button type="button" class="btn-close filt " data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete Link</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr />
                }
            </div>
        }

    </div>
</div>


<style>
    .modal-backdrop {
        display: none;
    }

</style>